/* Contenedor de las pantallas dinámicas */
.form-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}