<p-toast></p-toast>
<p-dialog [(visible)]="showDialog" (onHide)="showDialogChange.emit(false)" header="Alumnos en este grupo" [modal]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" >
    <div class="card">
        <p-table *ngIf="showDialog" responsiveLayout="stack" [tableStyle]="{'min-width': '50rem'}" [value]="alumnsInGroup" 
        responsiveLayout="scroll" [lazy]="true" (onLazyLoad)="loadTable($event)">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-alumn let-i="rowIndex">
                <tr>
                    <td >{{ alumn.names }}</td>
                    <td >{{ alumn.last_names }}</td>
                    <td>
                        <app-obvservations [(alumn)]="alumnsInGroup[i]" [selfSave]="true"></app-obvservations>
                        <p-button label="Eliminar" severity="danger" class="ml-2" (onClick)="deleteAlumnFormGroup(alumn.alumn_id)"></p-button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="3">No hay estudiantes inscritos en este grupo</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>